img{
    width: 600px;
    height: 300px;
}

header{
    background-color: green;
    padding: 10px;
    
}

nav a {
    
   padding: 5px;
}
footer {
    background-color: lime;
    padding: 5px;
} 

 body{
    background-color: lightblue;
 }
